body {
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(to left, #ffffff, #696868);
    }
        
body.loading {
    overflow: hidden;
    }
        
body.loading .loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(199, 199, 199, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    }
        
.blinkText {
    color: white;
    font-size: 25px;
    animation: blink 1s step-start infinite;
    }            

#downloadingMessage {
    display: none; 
    color: #a826d4;
    font-size: 20px;
    }

#downloadExcelButton {
    background-color: #a826d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    }

#downloadExcelButton:hover {
    background-color: #45a049; 
    }

#timelButton5 {
    background-color: #a826d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    }

#timelButton5:hover {
    background-color: #45a049;
    }

#timelButton10 {
    background-color: #a826d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    }

#timelButton10:hover {
    background-color: #45a049;
    }
#timelButton15 {
    background-color: #a826d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    }

#timelButton15:hover {
    background-color: #45a049;
    }

#dataTable {
    border: 3px solid #ffffff;
    border-collapse: collapse;
    width: 100%;
    background-color: #969696;
    font-size: 22px;
    }
    
#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    font-size: 20px;
    }
    
#dataTable th {
    background-color: #ffffff;
    }
    
#dataTable td {
    color: #000000;
    }
    

#loadingSpinner {
    display: none;
    justify-content: center;
    align-items: center;
    height: 25vh;
    position: relative;
    }
            
.spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left-color: #a826d4;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    animation: spin 1s linear infinite;
    }
            
.timer {
    position: absolute;
    color: #333;
    font-size: 14px;
    text-align: center;
    }
            
@keyframes spin {
    0% {
    transform: rotate(0deg);
        }
    100% {
    transform: rotate(360deg);
        }
    }

h1 {
    align-items: center;
    font-family: cursive;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    animation: blink 60s infinite;
    }
        
#mail {
    font-size: 14px;
    text-align: center;
    padding: 50px;
    }

#reloadMessage {
    font-size: 18px;
    }

.text-container {
    font-size: 10px;
    flex-direction: column;
    text-align: right;
    font-family: cursive;
    }
        
.text-container p {
        }
        
@keyframes blink {
    0% { color: #000; }
    50% { color: #a826d4; }
    100% { color: #000; }
    }