<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Мониторинг НКК 🌶️</title>

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/main.css') }}">
    

    <!--<link rel="stylesheet" type="text/css" href="main.css">-->
    
</head>
<body>
    <div><h1>Мониторинг НКК 🌶️</h1></div>
    <div class="text-container">1.0 ver. 💪<a href="https://dit.rencredit.ru/confluence/pages/viewpage.action?pageId=348389419"><p>Confluence</p></a></div>
        <h2>Эта страница будет обновляться каждые: <span id="refreshTime"></span>.</h2>
        <div>
            <button onclick="setRefreshTime(300)">5 минут</button>
            <button onclick="setRefreshTime(600)">10 минут</button>
            <button onclick="setRefreshTime(900)">15 минут</button>
        </div>
        <p >Последнее обновление страницы: <span id="lastRefreshTime"></span></p>
        
        <a href="/download-excel"><button id="downloadExcelButton">Скачать Excel</button></a>
        
    <div id="downloadingMessage" class="blinkText">Идёт скачивание Excel...</div>
    <div id="timeoutMessage" style="display: none;">Для повторного скачивания обновите страница ⭕</div>

    <table id="dataTable" style="width: 100%; margin-top: 20px;">
        <thead>
            <tr>
                <th>Код</th>
                <th>Количество заявок</th>
            </tr>
        </thead>
        <tbody>
            <!-- таблица -->
        </tbody>
    </table>
    <p id="mail">Все вопросы и пожелания на:<h3><p1>💌</p1>ismetskoy@rencredit.ru</h3></p>
</body>
</html>