<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/main.css') }}">

    <meta charset="UTF-8">

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/error.js') }}"></script>

    <title>Мониторинг НКК</title>
</head>
<body>
    <div><h1>Мониторинг НКК 🌶️</h1></div>
    <div class="text-container">1.1 ver. 💪<a href="https://dit.rencredit.ru/confluence/pages/viewpage.action?pageId=348389419"><p>Confluence</p></a></div>
        <h2>Обновление таблицы: <span id="refreshTime"></span>.</h2>
        <div>
            <button id="timelButton5" onclick="setRefreshTime(300)">5 минут</button>
            <button id="timelButton10" onclick="setRefreshTime(600)">10 минут</button>
            <button id="timelButton15" onclick="setRefreshTime(900)">15 минут</button>
        </div>
        <p >Последнее обновление таблицы: <span id="lastRefreshTime"></span></p>
        
        <a href="/download-excel"><button id="downloadExcelButton">Скачать выгрузку</button></a>
        
    <div id="downloadingMessage" class="blinkText">Идёт скачивание выгрузки ...</div>

    <div id="loadingSpinner" style="display: flex; justify-content: center; align-items: center; height: 25vh;">
        <div class="spinner"></div>
        <div class="timer">0s</div>
    </div>

    <div id="reloadMessage" style="display: none; text-align: center;">
        Пожайлуста обновите страницу. Произошла ошибка сервера.
    </div>
    
    <table id="dataTable" style="width: 100%; margin-top: 20px; display: none;">
        <thead>
            <tr>
                <th>Код:</th>
                <th>Количество заявок по GP:</th>
            </tr>
        </thead>
        <tbody>
            <!-- тут таблица -->
        </tbody>
    </table>
    </div>
    <p id="mail" style="text-align: center;">
        Все вопросы и пожелания на:
        <br>
        💌 ismetskoy@rencredit.ru
    </p>
</body>
</html>